*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Zen Dots", sans-serif;
    color: white;
}
html, body{
    width: 100%;
    background-color: #000;
}

/* hero */

.hero{
    width: 100%;
    height: 864px;
    background-image: url(assets/heroImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0px 100px;
    padding-top: 10px;
}
.navbar .logo{
    width: 50px;
    cursor: pointer;
}
.navbar .nav-menus{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 560px;
}
.navbar .nav-menus .nav-links{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.navbar .nav-menus .nav-links:hover{
    color: #C63D2F;
}
.navbar .search{
    width: 20px;
    cursor: pointer;
}

/* cards */

.t-card-1{
    width: 250px;
    height: 130px;
    border-radius: 12px;
    position: absolute;
    top: 240px;
    left: 35%;
    padding: 20px;
    background: rgba(212, 212, 212, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.t-card-1 h2{
    font-size: 18px;
    margin-bottom: 5px;
}
.t-card-1 p{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
}
.t-card-2{
    width: 250px;
    height: 130px;
    border-radius: 12px;
    position: absolute;
    top: 310px;
    left: 80%;
    padding: 20px;
    background: rgba(212, 212, 212, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.t-card-2 h2{
    font-size: 18px;
    margin-bottom: 5px;
}   
.t-card-2 p{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
}
.t-card-3{
    width: 250px;
    height: 130px;
    border-radius: 12px;
    position: absolute;
    top: 580px;
    left: 55%;
    padding: 20px;
    background: rgba(212, 212, 212, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.t-card-3 h2{
    font-size: 18px;
    margin-bottom: 5px;
}
.t-card-3 p{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
}

/* see more */

.see-more{
    position: absolute;
    top: 86%;
    left: 41%;
    text-align: center;
}
.see-more .see-more-text{
    margin-bottom: 10px;
    font-size: 20px;
}
.see-more .see-more-btn{
    cursor: pointer;
    margin-left: 47px;
    background-color: #C63D2F;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    width: 120px;
    height: 35px;
    font-size: 14px;
    
}
.see-more .see-more-btn:hover{
    background-color: #f53d29;
}

/* about */

.about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    padding: 40px;
    padding-right: 10px;
}
.about .about-card{
    width: 100%;
    height: 660px;
    background: rgba(212, 212, 212, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

/* about card left side */

.left-side{
    width: 50%;
}
.section-name{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 20px;
}
.section-name img{
    width: 19px;
}
.section-name p{
    font-size: 13px;
    text-transform: uppercase;
    font-family: "inter", sans-serif;
    font-weight: 700;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    hyphens: auto;
}
.card-text h2{
    font-size: 30px;
    line-height: 3rem;
    letter-spacing: 0.6px;
    word-spacing: 0.7px;
}
.card-text p{
    line-height: 1.7rem;
    font-family: "inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
}
.branding{
    width: 30px;
    pointer-events: none;
    height: 120px;
    opacity: 0;
}

/* about card right side */

.right-side{
    width: 50%; 
    padding: 40px;
    padding-left: 230px;
    padding-right: 80px;
}
.right-side p{
    font-size: 16px;
    font-weight: 600;
    font-family: "inter", sans-serif;
    margin-bottom: 20px;
}
.right-side h2{
    font-size: 80px;
    font-weight: 600;
    font-family: "inter", sans-serif;
    margin-bottom: 20px;
}
.right-side img{
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
}

/* gaming king */

.gaming-king{
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    padding-right: 10px;    
}
.main-content{
    width: 100%;
    height: 664px;
    margin-bottom: 60px;
    overflow: hidden;
}
.gaming-content{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 10px;
}
.gaming-king-img{
    width: 55%;
}
.gaming-king-img img{
    width: 100%;
}
.gaming-content .gaming-text{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
}
.gaming-content .gaming-text h2{
    font-size: 75px;
    font-family: "inter", sans-serif;
    line-height: 5.5rem;
}
.gaming-content .gaming-text p{
    font-size: 16px;
    font-weight: 600;
    font-family: "inter", sans-serif;
    line-height: 1.7rem;
    letter-spacing: 0.7px;
}

/* features */

.features{
    width: 100%;
    height: auto;
    padding: 40px;
    padding-right: 10px;
    overflow-x: hidden;
}
.features-wrapper h2{
    font-size: 45px;
    font-family: "Zen Dots", sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-stretch: ultra-expanded;
}
.features-wrapper .sub-title{
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
    letter-spacing: 0.5px;
    font-family: "inter", sans-serif;
    line-height: 1.1rem;
}
.image-slider .slider-imgs{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin-left: 16%;
    gap: 20px;
    will-change: transform;
}

/* closer look */

.closer-look{
    width: 100%;
    height: auto;
    padding: 40px;
    padding-right: 10px;
    overflow-x: hidden;
}
.closer-video-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 600px;
    margin-top: 30px;
    align-items: center;
}
.closer-video-container .closer-video{
    width: 90%;
    height: 100%;
    border-radius: 12px !important;
    pointer-events: none;
}

/* contact */

.contact{
    width: 100%;
    height: 864px;
    padding: 40px;
    padding-right: 10px;
    background-image: url(assets/contactBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.t-form{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 5%;
}
.input-box{
    border-radius: 12px;
    width: 340px;
    height: 70px;
    background: rgba(212, 212, 212, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
}
.input-extra{
    resize: none;
    border-radius: 12px;
    width: 340px;
    height: 150px;
    background: rgba(212, 212, 212, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
}
.order-btn{
    border: 1px solid white;
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-family: "inter", sans-serif;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.order-btn:hover{
    background-color: #f53d29;
}
#submit-text{
    font-size: 12px;
    font-weight: 600;
    font-family: "inter", sans-serif;
}
.contact-right-image{
    width: 600px;
    position: absolute;
    top: 13%;
    left: 50%;
}
.contact-elem{
    width: 100%;
    position: relative;
    cursor: pointer;
    rotate: -8deg;
    border-radius: 12px;
}

/* right side brand logo */

.brand{
    position: relative;
}
.brand-img{
    position: fixed;
    right: 0%;
    top: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
}

/* footer bar */

.footer-bar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    padding: 10px 20px;
    background: rgba(212, 212, 212, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    mix-blend-mode: calc(red);
}

.footer-bar button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

/* animation on footer menus */

.footer-bar button::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.footer-bar button::before{
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000, #ff7300, #fffb00, #48ff00,
        #00ffd5, #002bff, #ff00c8, #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}

}
.footer-bar button:hover::before{
    opacity: 1;
}
/* Hidden state */

.footer-bar.hidden {
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
}



/* responsive css */

/* extra large screens */

@media (min-width: 1560px) and (max-width: 3500px) {
    
    /* hero section */

    .hero{
        height: 1100px;
    }
    .navbar .nav-menus{
        margin-right: 10px;
    }
    .t-card-1{
        top: 330px;
    }
    .t-card-2{
        top: 400px;
    }
    .t-card-3{
        top: 720px;
    }

    /* about section */

    .about .about-card{
        height: 820px;
    }

    /* left side */

    .card-text{
        padding-right: 150px;
    }
    .card-text h2{
        line-height: 4rem;
    }
    .card-text p{
        line-height: 2rem;
    }

    /* right side */

    .right-side{
        padding-right: 180px;
    }
    .right-side p{
        margin-bottom: 30px;
    }
    .right-side h2{
        margin-bottom: 30px;
    }
    .right-side img{
        margin-bottom: 30px;
    }

    /* gaming section */

    .gaming-king .section-name{
        margin-bottom: 80px;
    }
    .main-content{
        height: 900px;
    }
    .gaming-content .gaming-text h2{
        line-height: 6.7rem;
    }
    .gaming-content .gaming-text p{
        line-height: 2rem;
    }

    /* features section */

    .features .features-wrapper h2{
        font-size: 70px;
    } 
    .features .features-wrapper .sub-title{
        margin-bottom: 80px;
    } 
    .features-wrapper .sub-title{
        line-height: 1.5rem;
        font-size: 14px;
        margin-left: 24px;
    }

    /* closer look section */

    .closer-look .features-wrapper .sub-title{
        margin-bottom: 70px;
    }
    .closer-video-container{
        height: 760px;
        margin-bottom: 20px;
    }

    /* contact section */

    .contact{
        height: 1100px;
    }
    .input-box{
        width: 450px;
        height: 100px;
        font-size: 18px;
    }
    .input-extra{
        width: 450px;
        height: 200px;
    }
    .contact-right-image{
        width: 700px;
        left: 52%;
    }
}

/* large screens */

@media (min-width: 992px) and (max-width: 1200px){

}

/* medium screens */

@media (min-width: 768px) and (max-width: 992px){
      /* hero section */

      .hero{
        padding: 10px;
    }
    .navbar{
        padding: 10px 40px;
        margin-left: 10px;
    }
    .navbar .nav-menus .nav-links{
        margin-left: 10px;
    }
    .t-card-1{
        top: 240px;
        left: 20%;
    }
    .t-card-2{
        top: 100px;
        left: 67%;
    }
    .see-more{
        left: 38%;
    }

    /* about us section */

    .about{
        padding-right: 0px;
        padding: 40px;
    }
    .branding{
        display: none;
    }
    .about .about-card{
        flex-direction: row;
        padding: 15px 20px;
        height: auto;
        border-radius: 12px;
    }
    
    /* left side */

    .left-side{
        width: 100%;
    }
    .section-name img{
        width: 15px;
    }
    .section-name p{
        font-size: 14px;
        font-size: 12px;
    }
    .card-text{
        padding: 10px;
        gap: 20px;
    }
    .card-text h2{
        font-size: 16px;
        letter-spacing: normal;
        line-height: 2rem;
    }
    .card-text p{
        font-size: 12px;
        line-height: 1.5rem;
    }

    /* right side */

    .right-side{
        width: 100%;
        padding: 5px 70px;
        margin-top: 40px;
    }
    .right-side p{
        font-size: 16px;
    }
    .right-side h2{
        font-size: 60px;
    }

    /* gaming section */

    .gaming-king{
        padding: 0px 40px;
        flex-direction: row;
        height: 100%;
    }
    .main-content{
        margin-bottom: 10px;
        overflow: hidden;
    }
    .gaming-content{
        flex-direction: row;
        gap: 40px;
    }
    .gaming-king-img{
        width: 80%;
    }
    .gaming-content{
        justify-content: center;
        height: 530px;
    }
    .gaming-content .gaming-text{
        margin-top: 40px;
        gap: 20px;
    }
    .gaming-content .gaming-text h2{
        font-size: 40px;
        line-height: 3.3rem;
    }
    .gaming-content .gaming-text p{
        line-height: 1.2rem;
        font-size: 14px;
    }

    /* features section */

    .image-slider .slider-imgs img{
        width: 470px;
    }
    /* closer look section */

    .closer-video-container{
        height: 380px;
        margin: 60px 0px;
    }

    /* contact us section */

    .contact{
        overflow-x: hidden;
    }
    .contact .t-form{
        z-index: 1000;
    }
    .contact .contact-right-image{
        width: 400px;
        top: 27%;
        left: 53%;
        z-index: 0;
    }
    .contact-elem{
        rotate: -8deg;
    }

    /* brand section */

    .brand-img{
        top: 40%;
    }
}

/* small screens */

@media (min-width: 576px) and (max-width: 768px){
    
    /* hero section */

    .hero{
        padding: 10px;
    }
    .navbar{
        padding: 10px 40px;
        margin-left: 10px;
    }
    .navbar .nav-menus .nav-links{
        margin-left: 10px;
    }
    .t-card-1{
        top: 310px;
        left: 20%;
    }
    .t-card-2{
        top: 10%;
        left: 56%;
    }
    .see-more{
        left: 38%;
    }

    /* about us section */

    .about{
        padding-right: 0px;
        padding: 20px;
    }
    .branding{
        display: none;
    }
    .about .about-card{
        flex-direction: row;
        padding: 5px;
        height: auto;
        border-radius: 12px;
    }
    
    /* left side */

    .left-side{
        width: 100%;
    }
    .section-name img{
        width: 10px;
    }
    .section-name p{
        font-size: 11px;
    }
    .card-text{
        padding: 10px;
        gap: 20px;
    }
    .card-text h2{
        font-size: 14px;
        letter-spacing: normal;
        line-height: 1.8rem;
    }
    .card-text p{
        font-size: 11px;
        line-height: 1.5rem;
    }

    /* right side */

    .right-side{
        width: 100%;
        padding: 5px 70px;
        margin-top: 40px;
    }
    .right-side p{
        font-size: 16px;
    }
    .right-side h2{
        font-size: 46px;
    }

    /* gaming section */

    .gaming-king{
        padding: 10px;
        flex-direction: row;
        height: 100%;
    }
    .main-content{
        margin-bottom: 10px;
        overflow: hidden;
    }
    .gaming-content{
        flex-direction: row;
        gap: 40px;
    }
    .gaming-king-img{
        width: 100%;
    }
    .gaming-content{
        justify-content: center;
        height: 300px;
    }
    .gaming-content .gaming-text{
        margin-top: 40px;
        gap: 20px;
    }
    .gaming-content .gaming-text h2{
        font-size: 30px;
        line-height: 2.5rem;
    }
    .gaming-content .gaming-text p{
        line-height: 1.3rem;
        font-size: 12px;
    }

    /* features section */

    .image-slider .slider-imgs img{
        width: 400px;
    }
    /* closer look section */

    .closer-video-container{
        height: 350px;
    }

    /* contact us section */

    .contact{
        overflow-x: hidden;
    }
    .contact .t-form{
        z-index: 1000;
    }
    .contact .contact-right-image{
        width: 350px;
        top: 27%;
        left: 53%;
        z-index: 0;
    }
    .contact-elem{
        rotate: 0deg;
    }

    /* brand section */

    .brand-img{
        top: 30%;
    }
}

/* extra small screens */

@media (max-width: 576px) {
    
    /* hero section */

    .hero{
        height: 100vh;
        background-image: url(assets/smallScreenTextHero.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 10px;
    }
    .navbar{
        padding: 0px 30px;
    }
    .navbar .logo{
        margin-left: -10px;
    }
    .navbar .nav-menus{
        display: none;
    }
    .t-cards{
        display: none;
    }
    .see-more{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        left: 0;
    }
    .see-more .see-more-text{
        font-size: 14px;
    }
    .see-more .see-more-btn{
        font-size: 12px;
        width: 90px;
        height: 35px;
        padding-top: 10px;
        margin-left: 0;
    }

    /* about section */

    .about{
        padding-right: 0px;
        padding: 10px;
    }
    .branding{
        display: none;
    }
    .about .about-card{
        flex-direction: column;
        padding: 5px;
        height: auto;
        border-radius: 12px;
    }

    /* left side */

    .left-side{
        width: 100%;
    }
    .section-name img{
        width: 10px;
    }
    .section-name p{
        font-size: 11px;
    }
    .card-text{
        padding: 10px;
        gap: 10px;
    }
    .card-text h2{
        font-size: 15px;
        letter-spacing: normal;
        line-height: 1.8rem;
    }

    /* right side */

    .right-side{
        width: 100%;
        padding: 5px 40px;
        margin-top: 40px;
    }
    .right-side p{
        font-size: 16px;
        text-align: center;
    }
    .right-side h2{
        font-size: 46px;
        text-align: center;
    }

    /* gaming section */

    .gaming-king{
        padding: 10px;
        flex-direction: column;
    }
    .main-content{
        margin-bottom: 10px;
    }
    .gaming-content{
        flex-direction: column;
    }
    .gaming-king-img{
        width: 100%;
    }
    .gaming-content{
        justify-content: center;
        height: 600px;
    }
    .gaming-content .gaming-text{
        margin-top: 40px;
        gap: 20px;
    }
    .gaming-content .gaming-text h2{
        font-size: 36px;
        line-height: 2.5rem;
    }
    .gaming-content .gaming-text p{
        line-height: 1.5rem;
    }

    /* features section */

    .features{
        padding: 10px;
    }
    .features .features-wrapper h2{
        font-size: 36px;
    }
    .image-slider{
        margin-top: 100px;
    }
    .slider-imgs img{
        width: 250px;
        height: 100%;
    }

    /* closer look section */

    .closer-look{
        padding: 10px;
    }
    .closer-look .features-wrapper h2{
        font-size: 36px;
    }
    .closer-video-container{
        height: 350px;
    }

    /* contact section */
    
    .contact{
        padding: 10px;
        height: 700px;
    }
    .contact .features-wrapper h2{
        font-size: 36px;
    }
    .contact .contact-elem{
        display: none;
    }

    /* footer bar */

    .footer-bar{
        width: 90%;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
    }
    .footer-bar button{
        width: auto;
        font-size: 6px;
        font-family: "inter", sans-serif;
        font-weight: 700;
    }
}